footer {
    padding-top: 2.2em;
    .slogan {
        width: 30%;
    }
    .footer-nav {
        width: 70%;
        h4 {
            padding-bottom: 1.5em;
            font-size: 1.4em;
        }
        li {
            padding-bottom: 1em;
        }
        }
    }
