// miniframework personale, senza pretese di completezza
@import 'partials/basics';

// common
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/common';

// sezioni pagina
// HEADER
@import 'partials/header';

// MAIN
@import 'partials/jumbotron';
@import 'partials/poidecido';
@import 'partials/how';
@import 'partials/mission';

// FOOTER
@import 'partials/footer';